.taglist-container{
    display: flex;
}
.taglist{
    width: 300px;
    height: 376px;
    background: #1b3574;
    border-radius: 12px;
    margin: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}   

@media (max-width: 900px) {
    .taglist {
    width: 500px;
    height: 100%; 

    }
}
@media (max-width: 600px) {
    
    .taglist {
        width: 400px;
        height: 276px;

    }
}